name: Package Game

on:
  push:  # Trigger on push to any branch
    branches: 
      - '*'  # All branches
  pull_request:  # Trigger on pull requests to any branch
    branches: 
      - '*'  # All branches

jobs:
  package:
    runs-on: ubuntu-latest  # You can adjust the runner to a different OS if needed

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Create the zip file
        run: |
          cd game  # Change to the 'game' directory
          zip -r ../game.love .  # Zip all the contents of the 'game' folder and place it in the root as 'game.love'
      - name: Upload game.love as an artifact
        uses: actions/upload-artifact@v3
        with:
          name: game-love-archive
          path: game.love
