name: Handle Update

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  loveFile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Create the zip file
        run: |
          cd game
          zip -r ../game.love .
      - name: Upload game.love as an artifact
        uses: actions/upload-artifact@v4
        with:
          name: game.love
          path: game.love

  website:
    runs-on: ubuntu-latest
    needs: loveFile
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: Download game.love
        uses: actions/download-artifact@v3
        with:
          name: game.love
      - name: Install love.js
        run: npm install love.js
      - name: Build game using love.js
        run: |
          mkdir output
          npx love.js game.love output --title "LoveVN" --memory 167772160 -c
          touch output/.nojekyll
      - name: Download coi-serviceworker.js
        run: curl -o output/coi-serviceworker.js https://raw.githubusercontent.com/gzuidhof/coi-serviceworker/refs/heads/master/coi-serviceworker.js
      - name: Add script tag to HTML
        run: |
          html_file=$(find output -name "*.html")
          if [ -f "$html_file" ]; then
            sed -i '$i<script src="coi-serviceworker.js"></script>' "$html_file"
          fi
      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: pages
          folder: output
          token: ${{ secrets.GITHUB_TOKEN }}

  loveTest:
    runs-on: ubuntu-latest
    needs: loveFile
    steps:
      - name: Install dependencies
        run: |
          apt-get update
          apt-get install -y wget unzip libx11-6 libxcursor1 libxrandr2 libxinerama1 libgl1 mesa-utils
          wget https://github.com/love2d/love/releases/download/11.4/love-11.4-linux-x64.zip
          unzip love-11.4-linux-x64.zip
          sudo mv love /usr/local/bin/

      - name: Download game.love
        uses: actions/download-artifact@v3
        with:
          name: game.love

      - name: Unzip game.love
        run: unzip game.love -d game

      - name: Run Love2D project and check for output (1 second timeout)
        run: |
          timeout 1s love game &> output.txt # Run with timeout, redirect all output
          output=$(cat output.txt) # Get the output from the file
          if [[ -n "$output" ]]; then
            echo "Love2D produced output on startup:"
            echo "$output"
            exit 1
          else
            echo "Love2D started without any output."
          fi